// Font-family
$font-openSans: 'Open Sans',
sans-serif;
// Media 
$default: 1205px;
$small: 420px;
$mobile: 760px;
$tablet: 920px;
// Colors
$bg-color: #f0f0f0;
$note-color: #fede5d;
$white-color: white;